.column {
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 24rpx;
}

.remind-view {
	background-color: #fbf1e8;
	padding: 40rpx;
	font-size: 26rpx;
	color: #db7820;
	border-radius: 14rpx;
	margin-bottom: 60rpx;
}

.type-title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title-txt {
	font-size: 30rpx;
	color: #595757;
	margin-left: 10rpx;
}

.update {
	margin-top: 160rpx;
	background-color: #10BE62;
	padding-top: 20rpx;
	padding-bottom: 20rpx;
	width: 703rpx;
	font-size: 34rpx;
	color: #FFFFFF;
	border-radius: 50rpx;
	text-align: center;
}

.type2-border {
	border: 1rpx solid #d1d1d1;
	width: 100%;
	border-radius: 14rpx;
	padding: 40rpx;
	margin-top: 30rpx;
	margin-bottom: 80rpx;
}

.ipnoe-input {
	font-size: 30rpx;
}

.uni-list {
	display: flex;
	flex-direction: row;
	margin-top: 30rpx;
	margin-bottom: 80rpx;
}

.uni-list-cell {
	align-items: center;
	display: flex;
	flex-direction: row;
}

.tui-box-upload {
	margin-top: 24rpx;
	padding-left: 25rpx;
	box-sizing: border-box;
}
