.view-line-one {
	width: 100%;
	height: 2rpx;
	background-color: #f9f9f9
}

.column-fff {
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	width: 100%;
	height: calc(100vh);
	padding: 24rpx;
}

.view-row {

	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	padding-top: 20rpx;
	padding-bottom: 20rpx;
}

.name {
	font-size: 30rpx;
	color: #595757;
	margin-top: 20rpx;
	margin-bottom: 20rpx;
	flex-grow: 1;
}

.name-input {
	font-size: 30rpx;
	text-align: end;
	color: #595757;
	margin-top: 20rpx;
	margin-bottom: 20rpx;
}
.yes-go{
	background-color: #10be62;
	padding-top: 20rpx;
	padding-bottom: 20rpx;
	text-align: center;
	width: 100%;
	font-size: 34rpx;
	color: #FFFFFF;
	margin-top: 60rpx;
	border-radius: 50rpx;
}
