.column {
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.card {
	margin-top: 60rpx;
	background-color: #FFFFFF;
	border-radius: 8rpx;
	width: 100%;
	padding: 30rpx;
	box-sizing: border-box;
}

.txt-30-fff {
	font-size: 30rpx;
	color: #FFFFFF;
	font-weight: bold;
}

.txt-26-fff {
	font-size: 26rpx;
	color: #FFFFFF;
	margin-top: 26rpx;
}

.txt-30-57 {
	font-size: 30rpx;
	color: #595757;
	flex-grow: 1;
	font-weight: bold;
}

.txt-30-57-2 {
	font-size: 30rpx;
	color: #595757;
	flex-grow: 1;
}

.txt-30-ec {
	font-size: 30rpx;
	color: #EC5353;
	font-weight: bold;
}

.search-box {
	width: auto;
	border-radius: 10rpx;
	margin: 10rpx 24rpx 10rpx 24rpx;
	background: #fff;
	border: 1rpx solid #dbe1ef;
	margin-top: 24rpx;
}

.s-input {
	height: 86rpx;
	padding: 0 21rpx;
	display: flex;
	width: 100%;
	align-items: center;
}

.img30 {
	height: 30rpx;
	width: 40rpx;
	margin-left: 24rpx;
}

.img32 {
	height: 32rpx;
	width: 32rpx;
}

.pdr20 {
	padding-right: 20rpx;
}

.flr {
	margin-left: auto;
}

.item-view {
	font-size: 30rpx;
	color: #595757;
	margin: 48rpx;
	width: 100%;
}

.txt-26-af {
	font-size: 26rpx;
	color: #AFAFAF;

}

.button {
	width: 100%;
	margin-top: 48rpx;
	padding: 24rpx;
	font-size: 30rpx;
	background-color: #10BE62;
	color: #FFFFFF;
	border-radius: 50rpx;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
